<div class="panel" style="margin-top:5px;">
    <div class="panel-heading avenue-heading">
        Our Sponsors:
    </div>
    <div class="panel-body avenue-body">
        <carousel [interval]="5000" style="float:left;width:100%;height:auto;">
            <slide *ngFor="let sponsor of Sponsors">
                <div class="sponsor">
                    <img src="{{sponsor.image}}" />
                </div>
            </slide>
        </carousel>
    </div>
    <!-- end panel-body -->
    <div class="panel-heading avenue-heading"></div>
</div>
<!-- end panel -->