.header {
    background-image: url("/assets/img/banner.png");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    min-height: 110px;
    position: relative;
    margin-top: 5px;
    border-radius: 10px;
}
  
.crest {
    position: absolute;
    top: 0;
    left: 0;
    height: 110px;
}
  
#footer {
      height: 30px;
      background-color: red;
      vertical-align: middle
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 0;
    border-radius: 0.25rem;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a::after {
    border-bottom: 0.3em solid transparent;
    border-left-color: inherit;
    border-left-style: solid;
    border-left-width: 0.3em;
    border-top: 0.3em solid transparent;
    content: " ";
    display: block;
    float: right;
    height: 0;
    margin-right: -0.6em;
    margin-top: -0.95em;
    width: 0;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -75%;
}

.dropdown-menu .divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}