<td-steps mode="horizontal">
    <td-step label="Terms & Conditions" sublabel="Read and accept T&Cs" [active]="step1enabled" [disabled]="!step1enabled">

    </td-step>
    <td-step label="Registration Form" sublabel="Fill in personal details" [active]="step2enabled" [disabled]="!step2enabled">

    </td-step>
    <td-step label="Review & Payment" sublabel="Review form, submit details and make payment." [active]="step3enabled" [disabled]="!step2enabled">

    </td-step>

</td-steps>

<div class="panel-heading avenue-heading">
    Step 1: Read & agree to terms and conditions
</div>
<div class="panel-body avenue-body">

    <ul style="line-height:80%;list-style-type: circle;">
        <li>A Registration Form must be completed for each child attending.</li><br />
        <li>Forms / Fees can be paid from 9.30 – 10.00 in car park.</li><br />
        <li>A texting/email service will be used to keep people informed.</li><br />
        <li>No coaching on Bank Holiday weekends.</li><br />
        <li>Coaching commences at 09.30 sharp for one hour only.</li><br />
        <li>Children should be brought down to & collected from the all-weather pitch.</li><br />
        <li>Children should wear appropriate clothing for prevailing weather conditions.</li><br />
        <li>Shin Guards and water bottles are compulsory.</li> <br />
        <li>Football boots with plastic Studs only, velcro boots advisable.</li><br />
        <li>Blitzes will be organised throughout the season.</li><br />
        <li>Children must NOT be left unsupervised before or after Coaching.</li><br />
        <li>Compulsory Training Tops / Junior Club Kits must be worn and are available from Rochford's pharmacy.
        </li>
    </ul>


    <br /><br /><br />
    <md-checkbox [(ngModel)]="tandc"></md-checkbox>
    <label class="ui-widget">I accept T&C's</label>
    <br /><br />
    <button type="button" class="btn btn-warning" (click)="back()">Back</button>
    <button type="button" class="btn btn-warning pull-right" (click)="submit()">Next</button>

</div>