<div class="container" *ngIf="display">
  
      <carousel style="float:left;width:100%;height:auto;">
          <slide *ngFor="let photo of d$.aAlbum">

                <video id="video1" width="400" controls>
                    <source src="{{photo.image}}" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                    Your browser does not support HTML5 video.
                </video>

          </slide>
      </carousel>

  </div>
  <!-- end row -->
  <!-- <div class="photo-caption">
          	{{photo.title}}
  </div> -->
