<td-steps mode="horizontal">
    <td-step label="Terms & Conditions" sublabel="Read and accept T&Cs" [active]="step1enabled" [disabled]="!step1enabled">

    </td-step>
    <td-step label="Arrival/departure dates" sublabel="Pick your dates" [active]="step2enabled" [disabled]="!step2enabled">

    </td-step>
    <td-step label="Parking" sublabel="Reserve parking" [active]="step3enabled" [disabled]="!step3enabled">

    </td-step>
    <td-step label="Personal Details" sublabel="Contact Details" [active]="step4enabled" [disabled]="!step4enabled">

    </td-step>
    <td-step label="Payment" sublabel="Pay Deposit" [active]="step5enabled" [disabled]="!step5enabled">

    </td-step>
</td-steps>

<div class="panel">
    <div class="panel-heading avenue-heading">
        Step 4: Enter Personal Details
    </div>
</div>

<div class="base-container">



    <div class="form-container">
        <form [formGroup]="bookingForm">
            <div class="form-field">
                <label for="name">First Name: </label>
                <input [formControl]="bookingForm.controls['firstname']" md-input placeholder="First name" [value]="bkng$.firstname" mdTooltip="Please enter your first name" mdTooltipPosition="above">
            </div>
            <div class="form-field">
                <label for="name">Surname: </label>
                <input [formControl]="bookingForm.controls['surname']" md-input placeholder="Last Name" [value]="bkng$.surname" mdTooltip="Please enter your last name" mdTooltipPosition="above">
            </div>
            <div class="form-field">
                <label for="name">Email: </label>
                <input type="email" [formControl]="bookingForm.controls['email']" md-input placeholder="email" [value]="bkng$.email">
            </div>
            <div class="form-field">
                <label for="name">Country: </label>
                <input type="text" [formControl]="bookingForm.controls['country']" md-input id="country" placeholder="Enter your country of origin" [value]="bkng$.country">
            </div>
            <div class="form-field">
                <label for="name">Mobile: </label>
                <input type="text" [formControl]="bookingForm.controls['phone']" md-input id="mobile" placeholder="Enter your mobile number" [value]="bkng$.phone">
            </div>
            <div class="form-field">
                <label for="name">Car Reg: </label>
                <input type="text" id="vehicalReg" placeholder="Enter your car reg" [formControl]="bookingForm.controls['vehicalReg']" md-input [value]="bkng$.vehicalReg">
            </div>
            <div class="flex-button-container">
                <button md-raised-button class="btn btn-warning" (click)="back()">Back</button>
                <button md-raised-button class="btn btn-warning" (click)="submit(bookingForm.value)">Next</button>
            </div>
        </form>
    </div>


</div>