<td-steps mode="horizontal">
    <td-step label="Terms & Conditions" sublabel="Read and accept T&Cs" [active]="step1enabled" [disabled]="!step1enabled">

    </td-step>
    <td-step label="Arrival/departure dates" sublabel="Pick your dates" [active]="step2enabled" [disabled]="!step2enabled">

    </td-step>
    <td-step label="Parking" sublabel="Reserve parking" [active]="step3enabled" [disabled]="!step3enabled">

    </td-step>
    <td-step label="Personal Details" sublabel="Contact Details" [active]="step4enabled" [disabled]="!step4enabled">

    </td-step>
    <td-step label="Payment" sublabel="Pay Deposit" [active]="step5enabled" [disabled]="!step5enabled">

    </td-step>
</td-steps>

<div class="panel">
    <div class="panel-heading avenue-heading">
        Step 5: Payment
    </div>
</div>

<div class="base-container">
    <md-card>
        Order summary:
        <div style="border: 1px solid;">
            <table>
                <tr>
                    <td>Name: </td>
                    <td>{{bkng$.firstname}}&nbsp;{{bkng$.surname}}
                        <td>
                </tr>
                <tr>
                    <td>Email:&nbsp;</td>
                    <td>{{bkng$.email}}
                        <td>
                </tr>
                <tr>
                    <td>Phone:&nbsp;</td>
                    <td>{{bkng$.phone}}
                        <td>
                </tr>
                <tr>
                    <td>Car Reg:&nbsp;</td>
                    <td>{{bkng$.vehicalReg}}
                        <td>
                </tr>
                <tr>
                    <td>Arrival:&nbsp;</td>
                    <td>{{bkng$.arrivalDate}}
                        <td>
                </tr>
                <tr>
                    <td>Departure:&nbsp;</td>
                    <td>{{bkng$.departureDate}}
                        <td>
                </tr>
                <tr>
                    <td>Nights:&nbsp;</td>
                    <td>{{bkng$.numberOfNights}}
                        <td>
                </tr>
                <tr>
                    <td>People:&nbsp;</td>
                    <td>{{bkng$.numberOfPeople}}
                        <td>
                </tr>
                <tr>
                    <td>Parking:&nbsp;</td>
                    <td>{{bkng$.parking}} car<span *ngIf="(bkng$.parking>1)">s</span>
                        <td>
                </tr>
            </table>
        </div>

        <div class="flex-container-button">
            <button md-raised-button class="btn btn-warning" style="max-height: 3em" (click)="back()">Back</button>
            <div>
                Total cost: €{{bkng$.totalCharge}} <br /> Cost of deposit: €{{bkng$.deposit}}
            </div>
            <button type="button" (click)="payPal()" style="float:right;">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0">
			</button>
        </div>
    </md-card>
</div>