<td-steps mode="horizontal">
    <td-step label="Terms & Conditions" sublabel="Read and accept T&Cs" [active]="step1enabled" [disabled]="!step1enabled">

    </td-step>
    <td-step label="Arrival/departure dates" sublabel="Pick your dates" [active]="step2enabled" [disabled]="!step2enabled">

    </td-step>
    <td-step label="Parking" sublabel="Reserve parking" [active]="step3enabled" [disabled]="!step2enabled">

    </td-step>
    <td-step label="Personal Details" sublabel="Contact Details" [active]="step4enabled" [disabled]="!step4enabled">

    </td-step>
    <td-step label="Payment" sublabel="Pay Deposit" [active]="step5enabled" [disabled]="!step5enabled">

    </td-step>
</td-steps>

<div class="panel">
    <div class="panel-heading avenue-heading">
        Step 2: Choose arrival/departure dates
    </div>
</div>

<div class="base-container">
    <md-card>
        <div class="flex-container">
            <div class="bootstrap-iso">
                <label>Arrival Date:</label>
                <input type="date" [(ngModel)]="bkng$.arrivalDate" mdTooltip="Click on arrow to the right for drop down calendar" mdTooltipPosition="above" />
            </div>

            <div class="bootstrap-iso">
                <label class="control-label" for="date">Departure Date:</label>
                <input type="date" [(ngModel)]="bkng$.departureDate" mdTooltip="Click on arrow to the right for drop down calendar" mdTooltipPosition="above" />
            </div>
            <div>
                <label>Number of People:</label>
                <md-slider min="1" max="16" thumbLabel tickInterval="1" [(ngModel)]="bkng$.numberOfPeople" mdTooltip="Slide for the number of people" mdTooltipPosition="above"></md-slider>
            </div>
        </div>
        <div class="flex-container-button">
            <button md-raised-button class="btn btn-warning" (click)="back()">Back</button>
            <button md-raised-button class="btn btn-warning" (click)="next()">Next</button>
        </div>
    </md-card>
</div>