<div class="panel">
  <div class="panel-heading avenue-heading">
      Step 3: Payment
  </div>
  <div class="panel-body avenue-body">

      <div *ngFor="let item of ar$.regData">

          <div *ngIf="(item.type==='md-input')&&(item.display)" style="margin-bottom:5px;">

              <div>
                  <div>
                      <strong>{{item.name}}:</strong>
                  </div>
                  <div>
                      {{item.value}}
                  </div>
              </div>

          </div>

      </div>
      <!-- End of ngFor -->

      <!-- Leave a space -->
      <div>
          <br />
      </div>

      <!-- Add the total cost calculations -->

      <div >
          <div>
              <strong>TOTAL PAYMENT DUE:</strong>
          </div>
          <div>
              {{ar$.payment | currency:'EUR':true:'1.2-2'}}
          </div>
      </div>

      <div style="padding-top:50px;">
          <div>
            <button mat-raised-button color="warn" style="float: left" (click)="back()">Back</button>
          </div>
          <div>
              <button type="button" (click)="ar$.payPal()" style="float:right;">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0">
              </button>
          </div>
      </div>
  </div>
</div>
