.cookie-consent-banner
{
  color           : yellow;
  background-color: aqua;
}

.no-button
{
  /* float: left; */
  color           : black;
  background-color: red;
}

.ok-button
{
  float           : right;
  color           : black;
  background-color: chartreuse;
}
