.outline
{
  border          : 2px solid white;
  background-color: red;
  margin-left     : auto;
  margin-right    : auto;
  min-height      : 30px;
  display         : inline-block;
}
.visitor-count
{
  float: left;
}
.visitor-count img
{
  width : 30px;
  height: 30px;
  float : left;
  color : white;
}
