.fleadhbg {
    background-color: black;
    background-image: url('assets/img/fleadh/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    object-fit: contain;
}

.im {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/img/fleadh/bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}