<div id="wrap">
  <div class="container t1">
      <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-8">
              <div class="panel">
                  <div class="panel-heading avenue-heading">
                      <strong>Documentation Downloads 2017/18</strong>
                  </div>
                  <div class="panel-body avenue-body">
                      <table class="table-condensed table-bordered" style="background-color:#E6E3E3;">
                          <thead>
                              <tr class="avenue-heading">
                                  <th><i class="fa fa-list-ol"></i> Number</th>
                                  <th><i class="fa fa-file-text"></i> Document Title</th>
                                  <th><i class="fa fa-link"></i> Download Link</th>
                              </tr>
                          </thead>
                          <tbody class="avenue-body">
                              <tr>
                                  <th scope="row">1</th>
                                  <td>Coaches Code of Conduct</td>
                                  <td align="center">
                                      <a href="../../assets/docs/CoachesCodeOfConduct.doc">
                                          <img src="../../assets/img/downloads/Sheet_of_paper.png" alt="Coches Code of Conduct" height="20px" />
                                      </a>
                                  </td>
                              </tr>
                              <tr>
                                  <th scope="row">2</th>
                                  <td>200 Club Draw - 2018 Form</td>
                                  <td align="center">
                                      <a href="../../assets/docs/2016 New Standing Order - Full Payment Form.doc">
                                          <img src="../../assets/img/downloads/Sheet_of_paper.png" alt="200 Club Draw Form" height="20px" />
                                      </a>
                                  </td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Avenue Academy Registration form 2017/18</td>
                                <td align="center">
                                    <a href="../../assets/docs/academy/AcademyRegistrationForm.doc">
                                        <img src="../../assets/img/downloads/register.png" alt="" height="20px" />
                                    </a>
                                </td>
                            </tr>
                              <tr>
                                  <th scope="row">4</th>
                                  <td>FAI's Player Development Plan</td>
                                  <td align="center">
                                      <a href="../../assets/docs/Player Development Plan.pdf">
                                          <img src="../../assets/docs/FAI Plan.PNG" alt="" height="20px" />
                                      </a>
                                  </td>
                              </tr>
                              <tr>
                                  <th scope="row">5</th>
                                  <td>CSSL Registration form</td>
                                  <td align="center">
                                      <a href="https://www.dropbox.com/sh/469qhbcwrz4yp4z/alFD4u6BoY">
                                          <img src="../../assets/img/downloads/register.png" alt="" height="20px" />
                                      </a>
                                  </td>
                              </tr>
                              <tr>
                                  <th scope="row">6</th>
                                  <td>CSSL Non-national Registration form</td>
                                  <td align="center">
                                      <a href="https://www.dropbox.com/sh/469qhbcwrz4yp4z/alFD4u6BoY">
                                          <img src="../../assets/img/downloads/register.png" alt="" height="20px" />
                                      </a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <!--  end col -->
      </div>
      <!-- end row -->

  </div>
  <!--  End of container t1 -->
</div>
