/* You can add global styles to this file, and also import other style files */
body,
html {
    background-image: url("/assets/img/stadium1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    height: 100%
}

.header {
  background-image: url("/assets/img/banner.png");
  background-size: cover;
  min-height: 110px;
  position: relative;
  margin-top: 5px
}

.crest {
    position: absolute;
    top: 0;
    left: 0;
    height: 110px
}

#footer {
    height: 30px;
    background-color: red;
    vertical-align: middle
}

.avenue-yellow-text { color: #fae900  }
.a-orange-text { color: #fae900  }
.avenue-heading { background-color: #d90404; color: #fae900; min-height: 40px }
.avenue-body { background-color: #303030; color: #fff }