
<div class="panel center" style="max-width: 500px;">
    <div class="panel-heading avenue-heading">
      Step 2: Registration Form
    </div>
    <div class="panel-body">
      <form class="reg-form" [formGroup]="regForm" (ngSubmit)="submit(regForm.value)" autocomplete="off" novalidate>
        
        <mat-card class="center">
          <strong>Child's Information:</strong><br>
          <mat-form-field class="form-name-field">
            <input matInput required [formControl]="regForm.controls['firstname']" placeholder="First name">
          </mat-form-field>

          &nbsp; &nbsp;
    
          <mat-form-field class="form-name-field">
            <input matInput [formControl]="regForm.controls['lastname']" placeholder="Surname">
          </mat-form-field>

          &nbsp; &nbsp;
    
          <mat-form-field class="form-dob-field">
            <input matInput [formControl]="regForm.controls['dob']" [matDatepicker]="picker" placeholder="Date of Birth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
    
          <mat-form-field class="form-full-width">
            <textarea matInput [formControl]="regForm.controls['address']" placeholder="Address"></textarea>
          </mat-form-field>

          <mat-form-field class="form-full-width">
            <textarea matInput [formControl]="regForm.controls['allergies']" placeholder="Allergy information - please specify"></textarea>
          </mat-form-field>
    
          <mat-form-field class="form-full-width">
            <textarea matInput [formControl]="regForm.controls['medication']" placeholder="On Medication - please specify"></textarea>
          </mat-form-field>
    
          <mat-form-field class="form-full-width">
            <textarea matInput [formControl]="regForm.controls['notes']" placeholder="Additional notes"></textarea>
          </mat-form-field>

          <mat-checkbox [formControl]="regForm.controls['asthma']">
            <div style="font-weight: normal">
              My child has Asthma
            </div>
          </mat-checkbox>
          &nbsp; &nbsp;
          <mat-checkbox [formControl]="regForm.controls['diabetes']">
            <div style="font-weight: normal">
              My child has Diabetes
            </div>
          </mat-checkbox>
    
          <br><br><strong>Parents Information:</strong><br>
          <mat-form-field class="form-email-field">
            <input matInput [formControl]="regForm.controls['email']" placeholder="Parent email address">
          </mat-form-field>
    
          <br>
          <mat-form-field class="form-name-field">
            <input matInput [formControl]="regForm.controls['fathername']" placeholder="Father's name">
          </mat-form-field>
    
          &nbsp; &nbsp;
          <mat-form-field class="form-phone-field">
            <input matInput [formControl]="regForm.controls['phone1']" placeholder="Father's phone number">
          </mat-form-field>
    
          <br>
          <mat-form-field class="form-name-field">
            <input matInput [formControl]="regForm.controls['mothername']" placeholder="Mother's name">
          </mat-form-field>
    
          &nbsp; &nbsp;
          <mat-form-field class="form-phone-field">
            <input matInput [formControl]="regForm.controls['phone2']" placeholder="Mother's phone number">
          </mat-form-field>

          <br>
          <mat-checkbox [formControl]="regForm.controls['singleTerm']">
            <div style="font-weight: normal">
                Single Term
            </div>
          </mat-checkbox>
          &nbsp; &nbsp;
          <mat-checkbox [formControl]="regForm.controls['secondChild']">
            <div style="font-weight: normal">
                Second Child
            </div>
          </mat-checkbox>

          <div class="lightline"></div>

          <div class="consent-text">
            I, the child's parent/guardian, give my consent for him/her to participate in All Avenue United Soccer Academy’s Coaching sessions, Organised Events, Blitz & Competitions etc. In the unlikely event of an Accident I/We give our permission for my child
            to be given immediate First Aid or taken to the nearest Hospital.
          </div>
          <mat-checkbox [formControl]="regForm.controls['consent']">
            Check the box to show your consent
          </mat-checkbox>
          
          <div class="lightline"></div>

          <div class="consent-text">
            I, the child's parent/guardian, give permission for the club to use our child's picture on their website.
          </div>
          <mat-checkbox [formControl]="regForm.controls['photoconsent']">
            Check the box to show your consent
          </mat-checkbox>

          <div class="lightline"></div>

          <button mat-raised-button color="warn" style="float: left" (click)="back()">Back</button>
          <button mat-raised-button color="warn" type="submit" style="float: right">Submit Form</button>
          <br>

        </mat-card>

      </form>
    </div>
  </div>
  
