/*html,
body {
    background-image: url("/src/assets/img/stadium1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

.t2 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 110px;
}

.header {
    background-image: url("/src/assets/img/banner.png");
    background-size: cover;
    min-height: 110px;
    position: relative;
    margin-top: 5px;
}*/